body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

footer {
    overflow: hidden;
}

footer div {
    display: block;
    width: 31%;
    float: left;
    min-height: 30px;
}

#red {
    background-color: red;
}

#burgundy {
    background-color: #ee3333;
}

#chartreuse {
    background-color: chartreuse;
}